## Sets

In [1]:
set1 = {2,3,4.4,True,"python"}

In [2]:
set1

{2, 3, 4.4, True, 'python'}

In [3]:
set2 = {1,2,3,4,1,2,1,1,4,3}

In [4]:
set2

{1, 2, 3, 4}

In [5]:
set3 = {"a",1,"b",2,3}

In [6]:
set3

{1, 2, 3, 'a', 'b'}

In [7]:
# check the type using type()
type(set2)

set

In [8]:
# to check the length of the sets
len(set1)

5

#### empty set

In [10]:
set4 = {}
set4

{}

In [11]:
type(set4)

dict

In [12]:
# to create empty sets
set4 = set()
type(set4)

set

##### 1) add(item)

In [13]:
set1 = {1,2,3,4,6}
# set1
set1.add(6)
print(set1)

{1, 2, 3, 4, 6}

In [14]:
set1.add(7)
set1

{1, 2, 3, 4, 6, 7}

##### 2) .update(list)

In [15]:
set1 = {1,2,3,4,5}
set1.update([6,7,8]) # pass list of values to set1

In [16]:
set1

{1, 2, 3, 4, 5, 6, 7, 8}

#### 3) copy()

In [17]:
set2 = set1.copy()
set2

{1, 2, 3, 4, 5, 6, 7, 8}

##### * To remove the items

##### 4) remove(item)

In [18]:
set1

{1, 2, 3, 4, 5, 6, 7, 8}

In [19]:
set1.remove(1)
set1

{2, 3, 4, 5, 6, 7, 8}

In [20]:
set1.remove(2)
set1

{3, 4, 5, 6, 7, 8}

##### 5) discard(item)

In [22]:
set1 = {1,2,3,4,5,6}
set1

{1, 2, 3, 4, 5, 6}

In [23]:
set1.discard(1)
set1

{2, 3, 4, 5, 6}

In [24]:
set1.discard(2)
set1

{3, 4, 5, 6}

In [25]:
# will not give the error if 2 is not there
set1.discard(2)
set1

{3, 4, 5, 6}

##### 6) pop()

In [26]:
set1 = {"a",1,"B",2,3,"c",4}
set1.pop()

1

In [27]:
set1.pop()

2

##### 7) clear()

In [28]:
set1

{3, 4, 'B', 'a', 'c'}

In [29]:
set1.clear()
set1

set()

##### 8) union()

In [30]:
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}
print(set1)
print(set2)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}

In [31]:
set3 = set1.union(set2)
set3

{1, 2, 3, 4, 5, 6, 7, 8}

##### 9) intersection()

In [32]:
set1

{1, 2, 3, 4, 5}

In [33]:
set2

{4, 5, 6, 7, 8}

In [34]:
set3 = set1.intersection(set2)
set3

{4, 5}