## Tuples

In [1]:
tup1 = (1,2,3,4.4,5.5,True,False,"Maths","Python")

In [2]:
tup1

(1, 2, 3, 4.4, 5.5, True, False, 'Maths', 'Python')

In [3]:
tup2 = (1,2,3,4,5,1,1)

In [4]:
tup2

(1, 2, 3, 4, 5, 1, 1)

In [5]:
# check the type using type()
type(tup1)

tuple

In [6]:
# len()
len(tup2)

7

In [7]:
tup3 = ("Python")

In [8]:
tup3

'Python'

In [9]:
# String type
type(tup3)

str

In [10]:
#comma(,) 
tup3 = ("python",)

In [11]:
tup3

('python',)

In [12]:
type(tup3)

tuple

In [13]:
len(tup3)

1

#### Indexing

In [14]:
# to get the first element
tup1

(1, 2, 3, 4.4, 5.5, True, False, 'Maths', 'Python')

In [15]:
tup1[0]

1

In [16]:
# to get the third element
tup1[2]

3

In [17]:
# to get the last element
tup1[-1]

'Python'

#### Slicing

In [19]:
# to get first 5 elements 
tup1[:5]

(1, 2, 3, 4.4, 5.5)

In [20]:
# to get last 5 elements 
tup1[-5:]

(5.5, True, False, 'Maths', 'Python')

In [21]:
# to get alternate elements 
tup1[::2]

(1, 3, 5.5, False, 'Python')

#### Immutable

In [24]:
# modify the values
tup1

(1, 2, 3, 4, 5)

In [26]:
# My original tuple
tup1

(1, 2, 3, 4, 5)

In [27]:
#Convert to list 
list1 = list(tup1)
list1

[1, 2, 3, 4, 5]

In [28]:
#Modify the value
list1[0] = 100
list1

[100, 2, 3, 4, 5]

In [29]:
#again convert to tuple
tup1 = tuple(list1)
tup1

(100, 2, 3, 4, 5)

#### To check a perticular value is present

In [30]:
#use 'in' operator
#syntax ---> item in object
tup1
print(100 in tup1)

True

In [31]:
print(200 in tup1)

False

#### Joining tuples

In [32]:
tup1 = (1,2,3,4)
tup2 = ("a","b","C","d")

tup3 = tup1 + tup2
tup3

(1, 2, 3, 4, 'a', 'b', 'C', 'd')

#### some inbuilt methods

In [33]:
# tup
tup = (1,2,3,4,1,1,2,1,2,3,6)

In [34]:
tup.count(1)

4

In [35]:
tup.count(2)

3

In [36]:
tup.index(3)

2