In [3]:
print ("hello world")

hello world

In [10]:
p=5
if p > 5 :
 print("good")

In [26]:
P=10
if P>5:
    print("good")
if P>6:
    print ("bad")

good
bad

In [69]:
x=str(5)
y="awesome"
z=(x+y)
print(z)

5awesome

In [44]:
import random

x=random.randrange(1, 10) 
"""
hfjdfhwjfewjfwfhj
"""                                
print(x)

4

In [54]:
txt = " Hello World " 
print(txt[1:12])

Hello World

In [59]:
txt=" Hello World! "
print(txt[1:4])

Hel

In [62]:
txt = " Hello World "
print(txt[1:12])

Hello World

In [82]:
a=int(input("give a number"))
print(a%10,"is the last digit")

give a number456
6 is the last digit

In [83]:
x = 5
y = "John"

print(x)
print(y)

5
John

In [84]:
age = 25
# print(age)
Age = 30
# print(age)
AGE = 35
print(age,Age,AGE)

25 30 35

In [88]:
myvar = "Python"
my_var = "Python"
_my_var = "Python"
myVar = "Python"
MYVAR = "Python"
myvar2 = "Python"

print("myvar")

myvar

# Print()

In [89]:
print("Hello world")

Hello world

In [90]:
first_name = 'Arun'
last_name = 'Balaji'

print(first_name)
print(last_name)

Arun
Balaji

In [91]:
fruit = 'Apple'
print("I have an "+fruit)

I have an Apple

In [92]:
fruit1 = 'Apple'
fruit2 = 'Banana'
print('I have 2 fruits, one is '+ fruit1+" other one is "+fruit2)

I have 2 fruits, one is Apple other one is Banana

In [93]:
print(" I have 2 fruits, one is {} other one is {}".format(fruit1,fruit2))

 I have 2 fruits, one is Apple other one is Banana

In [94]:
print(" I have 2 fruits, one is {1} other one is {0}".format(fruit1,fruit2))

 I have 2 fruits, one is Banana other one is Apple

# Comments

In [95]:
# i am a 
# multiline 
# comment 
# using '#' 
# at the beginning of
# each line
print('Hello-World')

Hello-World

In [96]:
"""
i am a 
multiline 
comment 
using '#' 
at the beginning of
each line
"""
print('Hello world')

Hello world

In [97]:
'''
i am a 
multiline 
comment 
using '#' 
at the beginning of
each line
'''
print('Hello world')

Hello world

# input()

In [98]:
name = input("Enter your name : ")
print("hello "+name)

Enter your name : Prajwal S D
hello Prajwal S D

In [107]:
num1 = input("enter the first number : ")
num2 = input("enter the second number : ")
num3 = num1 + num2 
print(num3)

enter the first number : 5
enter the second number : 6
56

In [108]:
num1 = input("enter the first number : ")
num2 = input("enter the second number : ")
num3 = num1 + num2 
print(num3)

enter the first number : 5
enter the second number : 6
56

In [109]:

print("type of num1 = {} and num2 = {} ".format(type(num1),type(num2)))
num1 = int(num1)
num2 = int(num2)

type of num1 = <class 'str'> and num2 = <class 'str'>

In [110]:
num3 = num1 + num2 
print(num3)

11